@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #f7f7f7;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 170px;

}

a.logo{
    
        text-decoration: none;
        color:black ;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.8em;
        
}
.navigation a{
    color: rgb(199, 147, 17);
    text-decoration: none;
    font: size 1.8em; 
    font-weight: 600;
    padding-left: 30px;

}
.navigation a:hover{
    color: black
}
section{
    padding: 100px 150px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
   background:url(/assets/images/background.jpg)  no-repeat ;
    background-size:cover;
    background-position: center ;
    background-attachment: fixed;
}
.main h2{
    color: #f7f7f7;
     font-size: 2em;
     font-weight: 500;
    

}
.main h2 span{
    color: rgb(199, 147, 17);
    display: inline-block;
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 10px;
}
.main h3{
    color: #f7f7f7;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;

}
.main-btn{
    color: #f7f7f7;
    background-color: black;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 1em;
    letter-spacing: 1px;
    margin-bottom: 40px;
    transition: 0.2s;
}
.main-btn:hover{
    background-color: #f7f7f7;
    transform: scale(1.1em);
}
.social-icons a{
    color: rgb(199, 147, 17);
    padding-right: 30px;
    font-size: 1.5em;
}
.title{
    display: flex;
    justify-content: center;
    color: rgb(199, 147, 17) ;
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 30px;

}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: whitesmoke;
    width: 21.25em;
    box-shadow: 0 5px 2px rgba(1 1 1/20%);
    border-radius: 20px;
    padding:25px ;
    margin:15px ;
    transition: 0.5s;
}
.card:hover{
    transform: scale(1.1);

}
.icon{
    font-size:5em;
    text-align: center;
}

.info{
    text-align: center;
    
    
}

.info{
    color:rgb(199, 147, 17) ;
    font-size: 1.2em;
    font-weight: 500;
    margin: 25px;

}
.home {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    font-family: Roboto, sans-serif;
    
    background-color: rgb(236, 205, 127);
    border-radius: 2px;
}
.home h3 {
    font-size: 1.5em;
    font-weight: 500;
    padding: 30px;
    margin-bottom: 20px;
}
.projects{
    background-color: rgb(236, 205, 127) ;
}

.projects .content{
    margin-top: 30px;
    padding-bottom: 10px;
 
}

.project-card {
    background-color:#f7f7f7  ;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.contact .info p{
    color:rgb(78, 77, 15);
}
.footer {
    background-color:rgb(236, 205, 127);
    color:black;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footet-title{
    font-size: 1.3em;
    font-weight: 500;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding:0  12px 0 0;
}
@media(max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a {
        padding-left:10px ;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3{
        font-size: 1.8em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:641px){
    body{
        font-size: 12px;
    }
    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3{
        font-size: 1.4em;
    }
}
@media(max-width:300px){
    body{
        font-size: 10px;
    }
}
